# .env.example
# Este arquivo é um modelo. No Portainer (ou na sua máquina), você criará os "Secrets/Environment Variables" baseados nestas chaves.

# Configuração de Segurança do Django
# Em produção MUDAR PARA FALSE
DJANGO_DEBUG=False
# Gere uma chave forte (ex: python -c "import secrets; print(secrets.token_urlsafe(50))")
DJANGO_SECRET_KEY=sua-chave-secreta-muito-segura-aqui
# Os domínios permitidos (ex: meu-sistema-escolar.com.br, 153.22.1.2)
DJANGO_ALLOWED_HOSTS=*

# Chave do OpenRouter para Resumos IA
OPENROUTER_API_KEY=sua-chave-aqui
