Django>=4.2,<6.1
python-dotenv
gunicorn
whitenoise
dj-database-url
langchain-openai
pypdf
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
reportlab
PyYAML
requests
pillow
xhtml2pdf
python-docx
