{% extends "base.html" %}

{% block title %}Dashboard | EduGestão{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="card">
    <h2>Visão Geral do Ano Letivo</h2>
    <p>Bem-vindo ao sistema de gestão de planos de aula.</p>
    <br>
    <a href="{% url 'calendario' %}" class="btn">Configurar Dias Letivos</a>
    <a href="{% url 'configurar_plano' %}" class="btn" style="background-color: #28a745; margin-left: 10px;">Gerar Plano de Aula ✨</a>
</div>
{% endblock %}
